[Unit]
Description=Run backup hourly

[Service]
WorkingDirectory=/opt/bin/backup/
Type=simple
ExecStart=/usr/bin/bash backup-from.sh odoo-backup-hourly
User=core

[Install]
WantedBy=multi-user.target
